<div class='row'>
  <section class='main col-md-9'>
    <article>
      <h2>About Shinjo Kang</h2>
      <p>
        As a passionate programmer, I have developed a comprehensive skill set 
        that includes C/C++, Python, Django, Java, JavaScript, Node.js, React, SQL, 
        and AWS. Driven by a self-starter attitude, I constantly push myself to explore 
        the coding universe and embrace challenges head-on. Beyond technical abilities, 
        I value collaboration and teamwork, believing that the best solutions emerge 
        through collective effort and diverse perspectives. Whether working on independent 
        projects or contributing to a team, my goal is to bring innovation, efficiency, 
        and creativity to the forefront.
      </p>
      <p>
        -Diligent & Hard Worker | As a developer in a co-op program, I believe that the most 
        important thing is a willingness to study hard and contribute to the team. I am very 
        diligent and a hard worker. I worked in the trading field in South Korea for more 
        than three years, from 8 AM until 7-9 PM or later every day, even though my manager 
        didn’t ask me to work extra hours. I wanted to be a better team member than my 
        coworkers. Due to my hard work, my manager appreciated me, giving me opportunities 
        to work with major companies such as Hyundai Steel Company and Posco. I also had the 
        chance to go on business trips to China and Mongolia multiple times.
      </p>
      <p>
        -Team Player | I am a dedicated team player. During my three years at a trading 
        company, I learned how to work effectively within a team. To be a good team player, 
        two things are very important. First, it is crucial to communicate effectively with 
        other team members. Communication is key because my words can influence the feelings 
        and mood of my colleagues, sometimes changing the office atmosphere. It's important 
        to strike a balance, avoiding both excessive and insufficient communication. Second, 
        I must organize my work data daily so that my team members can understand it without 
        my explanation. When I worked in the team, I shared almost all my data with my manager. 
        Therefore, I paid attention to details like naming files and folders appropriately, 
        storing data in accessible locations, and sometimes memorizing the content of important 
        data. These practices helped me become a better team player. My manager and team members 
        appreciated my efforts, and we remain in touch even though I left the job three years ago.
      </p>
      <p>
        -Love to Learn New Things | I have a passion for learning new things, which I believe 
        is essential for a developer, as the field constantly evolves. As I mentioned, I was a 
        trader. I could have easily pursued the same career in Canada, given my three years of 
        experience. However, my love for new technologies and my enthusiasm for exploring new 
        software and hardware led me to choose a different path. I own a variety of devices, 
        including a desktop, a Windows laptop, a MacBook, an iPad, an Android phone, and an 
        iOS phone. Each time I acquire a new device, I enjoy learning how to use it. This 
        passion for learning confirmed that I would enjoy studying programming. Therefore, 
        I decided to go to college to learn a new major in programming, knowing it would be 
        a fulfilling experience.
      </p>
    </article>
  </section>
  <aside class='col-md-3'>
    <h2>Coming Soon</h2>
    <p>I will update something more about me. Please wait for this.</p>
  </aside>
</div>